
<div class="jumbotron">

<h1 class="display-4 text-center">Gestion Administrador</h1>

<p class="lead"> En este modulo gestionaremos a los administradores</p>

<hr>
<div class="row">
   
    <div class="col-md-12">
        Registrar
        <app-registrar-administrador></app-registrar-administrador>
    </div>
    <div class="col-md-12">
        Listar

        
    </div>
</div>

<app-registrar-administrador></app-registrar-administrador>

<app-listar-administrador></app-listar-administrador>

</div>
<router-outlet></router-outlet>
