<div class="row">

    <div class="col-md-4 offset-4">
  
      <form class="text-center border border-light p-5" [formGroup]="this.usuarioService.formularioRegistroUsuario" (ngSubmit)="this.onSubmit()">
  
          <p class="h4 mb-4 contenedor-titulo">Registrarse</p>
        
  
          <!-- Nombre de usuario -->
  
          <div class="input-group mb-4">
  
            <div class="input-group-text bg-white">
  
                <i class="fa fa-user" [class.icono-azul]= "usuarioService.nombreusuario.valid" [class.icono-rojo]= "this.usuarioService.nombreusuario.invalid && (this.usuarioService.nombreusuario.touched || this.usuarioService.nombreusuario.dirty)"></i>
                      
            </div>        
  
            
            <input class="form-control" formControlName="nombreusuario" placeholder="Nombre de usuario">  
  
          </div>
  
          <!--Validaciones-->
  
          <div *ngIf="this.usuarioService.nombreusuario.invalid && (this.usuarioService.nombreusuario.touched || this.usuarioService.nombreusuario.dirty)" class="alert alert-danger">
  
            <div *ngIf="this.usuarioService.nombreusuario.hasError('required')">
  
                El nombre de usuario es requerido
  
            </div>
  
            <div *ngIf="this.usuarioService.nombreusuario.hasError('pattern')">
  
                El nombre de usuario no debe contener caracteres especiales
  
            </div>
  
            <div *ngIf="this.usuarioService.nombreusuario.hasError('maxlength')">
  
                El nombre de usuario debe contener máximo 20 caracteres
  
            </div>
                
          </div>      
          
          
  
          <!-- Nombre completo -->
  
          <div class="input-group mb-4">
  
              <div class="input-group-text bg-white">
      
                  <i class="fa fa-user-circle" [class.icono-azul]= "usuarioService.nombre.valid" [class.icono-rojo]= "this.usuarioService.nombreusuario.invalid && (this.usuarioService.nombreusuario.touched || this.usuarioService.nombreusuario.dirty)"></i>
                        
              </div>        
      
              
              <input class="form-control" formControlName="nombre" placeholder="Nombre completo">  
      
            </div>
      
            <!--Validaciones-->
      
            <div *ngIf="this.usuarioService.nombre.invalid && (this.usuarioService.nombre.touched || this.usuarioService.nombre.dirty)" class="alert alert-danger">
      
              <div *ngIf="this.usuarioService.nombre.hasError('required')">
      
                  El nombre completo es requerido
      
              </div>
      
              <div *ngIf="this.usuarioService.nombre.hasError('pattern')">
      
                  El nombre  debe contener sólo letras
      
              </div>
  
              <div *ngIf="this.usuarioService.nombre.hasError('maxlength')">
  
                  El nombre  debe contener máximo 40 caracteres
      
              </div>
                  
            </div>   
        
  
          <!-- E-mail -->
  
          <div class="input-group mb-4">
  
            <div class="input-group-text bg-white">
  
                <i class="fa fa-at" [class.icono-azul]= "usuarioService.email.valid" [class.icono-rojo]= "this.usuarioService.email.invalid && (this.usuarioService.email.touched || this.usuarioService.email.dirty)"></i>
                      
            </div>        
  
            
            <input class="form-control" formControlName="email" placeholder="Email">  
  
          </div>
  
          <!--Validaciones-->
  
          <div *ngIf="this.usuarioService.email.invalid && (this.usuarioService.email.touched || this.usuarioService.email.dirty)" class="alert alert-danger">
  
            <div *ngIf="this.usuarioService.email.hasError('required')">
  
                El Email es requerido
  
            </div>
  
            <div *ngIf="this.usuarioService.email.hasError('pattern')">
  
                Formato de correo invalido
  
            </div>
  
            <div *ngIf="this.usuarioService.email.hasError('maxlength')">
  
                El nombre  debe contener máximo 40 caracteres
  
            </div>
                
          </div> 

          <div class="input-group mb-4">
  
            <div class="input-group-text bg-white">
  
                <i class="fa fa-address-book"></i>
                      
            </div>                   
            
            <input class="form-control" formControlName="direccion"  placeholder="Dirección">  

          </div>




          <div class="input-group mb-4">
  
            <div class="input-group-text bg-white">
  
                <i class="fa fa-phone"></i>
                      
            </div>        
  
            
            <input class="form-control" formControlName="telefono" placeholder="Teléfono">  
  
          </div>

  
          <!-- Password -->
  
          <div class="input-group mb-4">
  
              <div class="input-group-text bg-white">
      
                  <i class="fa fa-key" [class.icono-azul]= "usuarioService.password.valid" [class.icono-rojo]= "this.usuarioService.password.invalid && (this.usuarioService.password.touched || this.usuarioService.password.dirty)"></i>
                        
              </div>        
      
              
              <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">           
      
          </div>
      
          <!--Validaciones-->
  
          <div *ngIf="this.usuarioService.password.invalid && (this.usuarioService.password.touched || this.usuarioService.password.dirty)" class="alert alert-danger">
  
            <div *ngIf="this.usuarioService.password.hasError('required')">
                La contraseña es requerida
            </div>
  
            <div *ngIf="this.usuarioService.password.hasError('pattern')">
                <small  class="form-text text-muted">
                    La contraseña debe tener  entre 6 y 20 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula
                </small>
            </div>
  
            <div *ngIf="this.usuarioService.password.hasError('maxlength')">
  
                La contraseña debe contener máximo 16 caracteres
  
            </div>
                
          </div> 
          
  
          <!-- Password -->
  
          <div class="input-group mb-4">
  
              <div class="input-group-text bg-white">
      
                  <i class="fa fa-key" [class.icono-azul]= "usuarioService.confirmarpassword.valid" [class.icono-rojo]= "this.usuarioService.confirmarpassword.invalid && (this.usuarioService.confirmarpassword.touched || this.usuarioService.confirmarpassword.dirty)"></i>
                        
              </div>     
              
              <input type="password" class="form-control" formControlName="confirmarpassword" placeholder="Confirmar Contraseña"> 
      
          </div>

          <!--Validaciones-->
  
          <div *ngIf="this.usuarioService.confirmarpassword.invalid && (this.usuarioService.confirmarpassword.touched || this.usuarioService.confirmarpassword.dirty)" class="alert alert-danger">
  
            <div *ngIf="this.usuarioService.confirmarpassword.hasError('required')">
                La confirmación de la contraseña es requerida
            </div>
  
              
            <div *ngIf="this.usuarioService.confirmarpassword.hasError('passwordDiferente')">
  
                Las contraseñas deben coincidir
  
            </div>
                
          </div> 



          
          <br>
          
          <!-- Suscripción -->
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="suscribirNotificias">
              <label class="custom-control-label" for="suscribirNotificias">Subscribirse a noticias</label>
          </div>
  
          <!-- Botón de iniciar sesión -->
          <button class="btn btn-info my-4 btn-block" type="submit" [disabled] = "this.usuarioService.formularioRegistroUsuario.invalid">Registrarse</button>
  
  
          <!-- Social register -->
          <p>o registrarse con:</p>
  
          <a href="#" class="mx-2" role="button"><i class="fa fa-facebook-f light-blue-text"></i></a>
          <a href="#" class="mx-2" role="button"><i class="fa fa-twitter light-blue-text"></i></a>
          <a href="#" class="mx-2" role="button"><i class="fa fa-instagram light-blue-text"></i></a>
          <a href="#" class="mx-2" role="button"><i class="fa fa-google light-blue-text"></i></a>
  
          <hr>
  
          <!-- Term of service -->
          <p>Haciendo clic en
              <em>Registrase</em> aceptas nuestros
              <a href="" target="_blank">términos y condiciones</a>
  
      </form>
    </div>
  </div>
  <!--Minuto 42 video 16-->
